{% extends 'base.html.twig' %}

{% block title %}
	Réinitialiser mon Mot de passe
{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('css/reset.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
  <div class="row mt-5">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
        <div class="card-img-left d-none d-md-flex">
        </div>
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5"><b>Modifier mon mot de passe</b></h5>
	        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
            {{ form_errors (form)}}
            {% for message in app.flashes('success') %}
			        <div class="alert alert-success mt-4">
                <div class="flash-notice">
				          {{ message }}
			          </div>
              </div>
	          {% endfor %}
            <div>
             
              <div class="form-floating mb-3">
                {{ form_row(form.plainPassword) }}
              </div>
              {{ form_row(form._token) }}             
              <hr class="my-4">
              <div class="d-grid mb-2">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" href="" type="submit">
                  Reset mot de passe 
                </button>
              </div>
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
{% endblock %}



