{% extends "base.html.twig" %}
{% block title %}{{ trick.name }}{% endblock %}

{% block stylesheets %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<link href="{{ asset('css/index.css') }}" rel="stylesheet" />
{% endblock %}	
{% block body %}

  <div class="container" >
    <h1 class="my-4">{{ trick.name }}</h1>  
    <div class="row">
      <div class="col-md-8">
      
        {% if trick.images | length > 0 %}
       
          <img class="img-fluid" src="{{ asset('IMAGES/' ~ trick.images[0].name) }}" alt="">
        {# <div class="container h-100"> #}
                                {# <div class="d-flex h-100 text-center align-items-center"> #}
                                    <div class="text-center my-5">
                                        {# <p class="text-white fs-3 fw-bolder">{{ trick.name }}</p> #}
                                        <p class="text-white-50 mb-0">Landing Page Template</p>
                                        {# <p class="">LES PLUS BELLES FIGURES</p> #}
                                    </div>
                                {# </div> #}
                            {# </div> #}
                            
        {% else %}  
        
          <img class="card-img-top" src="/IMAGES/no-image.jpg"  alt="...">
         
          {% endif %}
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Description du trick</h3>
        <p>{{ trick.description | raw }}.</p>
        <h3 class="my-3">Details du trick</h3>
        <ul>
          <li>Publié le {{ trick.createdAt|date('d/m/Y') }}</li>
          <li>Mis à jour le {{ trick.updatedAt |date('d/m/Y') }}</li>
          <li>Catégorie: {{ trick.category.slug }}</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
    <h3 class="my-4" id="seeMedia">Les Medias</h3>
    <div class="row">
      {% if trick.images | length > 0 %}
        {% for image in trick.images %}
          <div class="col-md-3 col-sm-6 mb-4">
          
            <img class="img-fluid" src="{{ asset('IMAGES/') ~image.name}}" alt="" style="height:15vw; object-fit: cover"> 
            {# {{ image.path | raw}} #}
            </a> 
          </div>
        {% endfor %}
        {% else %}
          <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="card-img-top" src="/IMAGES/no-image.jpg"  alt="..." >
          
          </a>
          </div>  
      {% endif %}
    
      {% if trick.videos | length > 0 %}
        {% for video in trick.videos %}
          <div class="col-md-3 col-sm-6 mb-4" >
            {{ video.url | raw}}
          </div>
        {% endfor %}
        {% else %}
          <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="card-img-top" src="/IMAGES/no-video.jpg"  alt="...">
            </a>
          </div> 
      {% endif %} 
    </div>

  </div>



  
<!-- Include trick comments -->
{# {% include 'comment.html.twig' %} #}

  <div class="container justify-content-center mt-5 border-left     border-right" style="background-color: #eef2f5;width: 100%;"  id="comments">
    <div class="col-md-3 col-sm-6 mb-4">
            <img src="/IMAGES/icon-comment.png" width="70" alt="..." >
          </div> 
    {% if app.user %}
      <div class="d-flex w-100 justify-content-center pt-3 pb-2"> 
        {{ form_start(commentForm) }}
          <div  style="
            width: 900px;
            background-color: #e5e8ed; 
            padding-top: 10px;
	          padding-bottom: 10px;
	          text-align: center;
	          font-size: 20px;
            {# color: #000; #}
            font-weight: 900;"
            >
            {{ form_row(commentForm.content ) }}
          </div> 
          <button class="btn btn-primary" style="margin-right:50px;font-size: 20px;" type="submit">Poster</button>
        {{ form_end(commentForm) }}
        
        
      </div>
      {% else %}
         <div class="d-flex w-100 justify-content-center pt-3 pb-2">
        <div  style="
       width: 900px;
       background-color: #e5e8ed; 
       padding-top: 10px;
	    padding-bottom: 10px;
	    text-align: center;
	    font-size: 20px;
      color: #000;
      font-weight: 900;"
      >
      <h5>Pour pouvoir commenter ce trick, Veuillez vous connecter</h5>
          <button href="{{path('app_login')}}" class="btn btn-primary" style="margin-right:50px;font-size: 20px;">Connexion</button>
        </div></div>
    {% endif %}
   
    
    {% if trick.comments | length > 0 %}
      {% for comment in trick.comments  | slice(0,10) %} 
    <div class="d-flex justify-content-center py-2">
     
      <div class="second py-2 px-2" style="width: 100%;
	      background-color: white;
	      border-radius: 4px;
	      box-shadow: 10px 10px 5px #aaaaaa;"> 
        <span class="text1" style="font-size: 20px;
          font-weight: 500;
          color: #56575b;">
          {{ comment.content | raw }}
          {# Type your note, and hit enter to add it #}
        </span>
        <div class="d-flex justify-content-between py-1 pt-2">
          <div>
            <img src="/IMAGES/no-avatar.png" width="50">
            <span class="text2" style="font-size: 20px;
              font-weight: 500;
              margin-left: 6px;
              color: #56575b;">
              {{ comment.user.username }}
              {# Martha #}
            </span>
          </div>
          <div>
            <span class="text3" style="font-size: 20px;
              font-weight: 500;
              margin-right: 4px;
              color: #828386;">
              Posté le {{ comment.createdAt |date('d/m/Y H:i') }}
            </span>
          </div>
        </div>
      </div>
    
    </div>
    {% endfor %}
    {% else %}
        <h4>Aucun commentaire. Soyez le premier à commenter ce trick!</h4>
    {% endif %} 
  </div>


{% endblock %} 
{% block javascript %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}



