{% extends "base.html.twig" %}
{% block title %}Modifier {{ trick.name }}{% endblock %}

{% block body %}

  <div class="container">
    <div class="card mt-5 mb-5">
      {# <div class="card text-center mx-5 my-5"> #}
      {% if trick.images | length > 0 %}
         
        <div class="card-title">
          <h5 class="card-text " style="font-size:200%">
          <center><b>{{ trick.name }}</b></center></h5>
          {% if app.user %}
            <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce trick?');"> <img class="float-right" src="/IMAGES/trash.png"  style="width:2%;"alt="..."></a>
          {% endif %}
        </div>
        <img src="{{ asset('IMAGES/Tricks/' ~ trick.images[0].name)}}" class="card-img" alt="image snowtricks">
       <div class="card-img-overlay">
      {% else %}  
        <img src="/IMAGES/no-image.jpg"  alt="...">
      {% endif %}  
    </div>
  </div>

  <div class="row" id="seeMedia">
    {% if trick.images | length > 0 %}
      {% for image in trick.images %}
        <div class="col-lg-4"> 
          {# <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> #}
            <div class="card mb-4">
            {# <div class="card h-100"> #}
              <img class="card-img-top" src="{{ asset('IMAGES/Tricks/') ~image.name}}" style="height:15vw; object-fit: cover" alt="">
              <div class="card-text"> 
                        {% if app.user %}
                          <a href="{{ path('trick_delete_image', {'id': image.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette image?');"> <img class="float-right" src="/IMAGES/trash.png"  style="width:5%;"alt="..."></a>
                        {% endif %}
              </div> 
            </div>
          </div>
      {% endfor %}
      {% else %} 
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
              <a href="#">
              <img class="card-img-top" src="/IMAGES/no-image.jpg"  alt="..." >
            </a>
            </div>
          </div>  
    {% endif %} 

    {# les videos #}
    {% if trick.videos | length > 0 %}
      {% for video in trick.videos %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            {# <div class="card h-100"> #}
            <div class="embed-responsive embed-responsive-1by1">
              <iframe src="{{ video.url }}" frameborder="0" allow="accelerometer; fullscreen; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <div class="card-footer">
                
                  <a href="{{ path('trick_delete_video', {'id': video.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette vidéo?');"> <img class="float-right" src="/IMAGES/trash.png"  style="width:7%;"alt="..."></a>
                
                    </div> 
            {# </div> #}
          </div>
      {% endfor %}
      {% else %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="/IMAGES/no-video.jpg"  alt="...">
            </div>
          </div>
    {% endif %} 
    <div class="container justify-content-center mt-5 border-left border-right" style="background-color: #eef2f5;width: 100%;">
      {{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
        {% for message in app.flashes('success') %}
			        <div class="alert alert-success mt-4">
                <div class="flash-notice">
				          {{ message }}
			          </div>
              </div>
	      {% endfor %}    
            {# <div class="my-custom-class-for-errors"> #}
        <div>
              {# {{ form_errors(form) }} #}
          <div class="form-floating mb-3">
                {{ form_row(form.name)}}
          </div>
          <div class="form-floating mb-3">
                {{ form_row(form.description)}}
          </div>
          <div class="btn">
                {{ form_row(form.category)}}
          </div> 
             
          <h6>Videos 
                <button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="videos"> + </button>
          </h6>

          <ul class="videos"
                data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">  
                {% for videoForm in form.videos %}
                  <li>
                    {{ form_row(videoForm)  }}
                  </li>
                {% endfor %}
          </ul>
              
          <h6>Images 
                <button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="images"> + </button>
          </h6>

          <ul class="images"
                data-index="{{ form.imagesFile|length > 0 ? form.imagesFile|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.imagesFile.vars.prototype)|e('html_attr') }}">
                {# {% for imageForm in form.images %}
                  <li>
                    {{ form_row(imageForm)  }}
                  </li>
                {% endfor %} #}
          </ul> 
          {{ form_row(form._token) }}             
              {# <hr class="my-4"> #}
          {# <div class="mb-5"> #}
                <button class="btn btn-primary btn-login text-uppercase fw-bold mb-5 mr-5 float-right" href="" type="submit">Enregistrer</button>
        {# </div> #}
        {# </form>   #}
          {# <div class="mb-5">     #}
                {# <button class="btn btn-primary btn-login text-uppercase fw-bold mb-5 mr-5 float-right" href="{{ path('app_index')}}"> Annuler</button> #}
          {# </div> #}
            {# </div> #}
           
          {# {{ form_end(form)}} #}
        </form> 
         </div>
  </div>

  </div>
</div>

<script>
    const addTagFormDeleteLink = (item) => {
      const removeFormButton = document.createElement('button');
      removeFormButton.innerText = 'Supprimer';

      item.append(removeFormButton);

      removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        // remove the li for the tag form
        item.remove();
      });
    }

    const addFormToCollection = (e) => {
      const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
      const item = document.createElement('li');

      item.innerHTML = collectionHolder
      .dataset
      .prototype
      .replace(
        /__name__/g,
        collectionHolder.dataset.index
      );

      collectionHolder.appendChild(item);

      collectionHolder.dataset.index++;

      // add a delete link to the new form
      addTagFormDeleteLink(item);
    }

    document
    .querySelectorAll('ul.videos li')
    .forEach((video) => {
        addTagFormDeleteLink(video)
    })

    {# document
    .querySelectorAll('ul.images li')
    .forEach((image) => {
        addTagFormDeleteLink(image)
    }) #}

    document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
    });
 
  </script>

{% endblock %} 


