{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}
{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <section  class="mb-5 mt-1">
                <div class="overlay-wcs"></div>
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
                    </video>
                    <div class="container h-100">
                        <div class="d-flex h-100 text-center align-items-center">
                            <div class="w-100 text-white">
                                <h1>BORN TO SNOW</h1>
                                <p class="lead mb-0">LES PLUS BELLES FIGURES</p>
                                <a href="#tricks"><img class="img-fluid" style="position:absolute;left:80%;bottom:10%;" src="/IMAGES/arrow-down.png"  alt="tricks"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Nested row for non-featured blog posts-->
    <div class="container ">  
    <div class="row" id="tricks">
        {% for trick in tricks %}
            <div class="col-lg-4">
                <div class="card mb-4">
                    {% if trick.images | length > 0 %}
                        <a href="{{ path('trick_show', {slug: trick.slug}) }}"><img class="card-img-top" src="{{ asset('IMAGES/' ~ trick.images[0].name) }}" alt="{{ trick.slug }}" style="height:15vw; object-fit: cover"></a>
                    {% else %}  
                        <a href="{{ path('trick_show', {slug: trick.slug}) }}"><img class="card-img-top" src="/IMAGES/no-image.jpg" style="height:15vw; object-fit: cover" alt="...">
                    {% endif %}
                    <div class="card-footer">             
                        {{ trick.name }}
                        {% if app.user %}
                            <a href="{{ path('trick_edit', {'slug': trick.slug}) }}"> <img class="float-right" src="/IMAGES/pencil.png"  style="width:5%;"alt="..."></a>
                            <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce trick?');"> <img class="float-right" src="/IMAGES/trash.png"  style="width:5%;"alt="..."></a>
                        {% endif %}
                    </div> 
                </div>
            </div>
        {% endfor %}       
        <a href="#"><img class="float-right" src="/IMAGES/arrow-up.png"  alt="haut de page"></a>
    </div>
    <!-- Pagination-->

    <button type="button " onclick="getData();">
    Load More
    </button>


{% endblock %}
{% block javascript %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
