        {% for trick in tricks %}
            <div class="col-lg-4">
                <div class="card mb-4">
                    {% if trick.images | length > 0 %}
                        <a href="{{ path('trick_show', {'id': trick.id,'slug': trick.slug}) }}"><img class="card-img-top" src="{{ asset('IMAGES/Tricks/' ~ trick.images[0].name) }}" alt="{{ trick.slug }}" style="height:15vw; object-fit: cover"></a>
                    {% else %}  
                        <a href="{{ path('trick_show', {'id': trick.id,'slug': trick.slug}) }}"><img class="card-img-top" src="{{ asset('IMAGES/Tricks/no-image.jpg') }}" style="height:15vw; object-fit: cover" alt="...">
                    {% endif %}
                    <div class="card-footer">             
                        {{ trick.name }}
                        {% if app.user %}
                            <a href="{{ path('trick_edit', {'slug': trick.slug}) }}"> <img class="float-right" src="/IMAGES/pencil.png"  style="width:5%;"alt="..."></a>
                            <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce trick?');"> <img class="float-right" src="/IMAGES/trash.png"  style="width:5%;"alt="..."></a>
                        {% endif %} 
                    </div> 
                </div>
            </div>
        {% endfor %}     