{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{# {% form_theme form 'shared/_collection.html.twig' %} #}

{% block title %}Snowtricks - Nouveau trick
{% endblock %}

{% form_theme form _self %}
{% block stylesheets %}
  <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %} 

    {# <body> #}
  {# <div class="container"> #}
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Création d'un trick</h5>
            {# <form> #}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
            {% for message in app.flashes('success') %}
			        <div class="alert alert-success mt-4">
                <div class="flash-notice">
				          {{ message }}
			          </div>
              </div>
	          {% endfor %}
            
            <div class="my-custom-class-for-errors">
              {{ form_errors(form) }}

              <div class="form-floating mb-3">
                {{ form_row(form.name)}}
                </div>
              <div class="form-floating mb-3">
              {{ form_row(form.description)}}
                 </div>
                <div class="form-floating mb-3">
                {{ form_row(form.category)}}
                </div>
              
              <div class="d-grid mb-2">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" href="/#tricks" type="submit">Créer mon trick
                </button>
              </div>
              {# <hr class="my-4"> #}
              </div>
          {{ form_end(form)}}
            {# </form> #}
          </div>
        </div>
      </div>
    </div>
  {# </div>
</body> #}
{% endblock %}































	{# <div class="container">

		<h1 class="mt-4">Création d'un trick</h1>

		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

		<div class="form-group">
			{{ form_row(form.name) }}
		</div> #}
        {# <div class="form-group">
			{{ form_row(form.slug) }}
		</div> #}

		{# <div class="form-group">
			{{ form_row(form.description) }}
		</div>

		<div class="form-group">
			{{ form_row(form.category) }}
		</div> #}
{# DEBUT MEDIAS
        <div class="card grey">
            <span class="card-title">Ajout médias</span>
       
            <div class="form-group">
			    {{ form_row(form.images) }}
		    </div>
            {{ form_row(form._token) }}
           <ul class="tags" data-prototype="&lt;div&gt;&lt;label class=&quot; required&quot;&gt;__name__&lt;/label&gt;&lt;div id=&quot;trick_tags___name__&quot;&gt;&lt;div&gt;&lt;label for=&quot;trick_tags___name___name&quot; class=&quot; required&quot;&gt;iframe&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;trick_tags___name___name&quot; name=&quot;trick[tags][__name__][name]&quot; required=&quot;required&quot; maxlength=&quot;255&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;"></ul>

FIN MEDIAS #}

            {# <ul id="tag-fields-list"
                data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.tags|length }}">
                {% for tagField in form.tags %}
                    <li>
                        {{ form_errors(tagField) }}
                        {{ form_widget(tagField) }}
                    </li>
                {% endfor %}
            </ul> 
            <button type="button" class="add-another-collection-widget" data-list-selector="#email-fields-list">Ajouter une nouvelle vidéo</button>#}

            {# <div class="form-group"> #}


             {# {% for tagField in form.tags %}
			    {{ form_widget(tagField) }}{% endfor %} #}


{# {% block %} #}
{# <p>Ajouter des vidéos pour illustrer votre trick !</p> {{ form_widget(form) }}
	
		<input type="hidden" id="widgets-counter-tag" value="0">
	
		<div class="form-group">
			<button type="button" id="add-tag" class="btn btn-dark">Ajouter une vidéo</button>
		</div>
	{# {% endblock %} #
	
	{% block _trick_tags_entry_row %} {{ form_widget(form) }}
	{% endblock %}
	
	{% block _trick_tags_entry_widget %}
		<div class="form-group" id="block_{{ id }}">
			<div class="row">
				<div class="col-10"> {{ form_widget(form.name) }}
				</div>
				<div class="col-2">
					<button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">
						<i class="fas fa-trash-alt"></i>
					</button>
				</div>
			</div>
		</div>
	{% endblock %} #}




		    {# </div> #} 

        {# </div>
		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>

        {{ form_end(form) }}

    </div>
{% endblock %} #}






{# A2lixTranslationType custom render example #}

{# {% block _trick_translations_locale_title_widget %}
    {{- form_widget(form) -}}
    <p class="bg-warning text-dark">Custom form rendering example</p>
{% endblock %} #}


{# Remove label from CollectionType #}
 {# {% block _trick_tags_entry_row %}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    {{ form(form) }}

    <div class="record_actions">
        {% if trick.id %}{{ form(deleteForm) }}{% endif %}
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('backend_trick_index') }}">Back to list</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %} #}




{# {% block body %}
    <h2>Welcome</h2>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows
        <div class="col-sm-8 col-sm-offset-2" id="tags_list" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
            {% for row in form.tags %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <strong>{{ row.vars.value.name }}</strong>
                    </div>
                    <div class="panel-body">
                        {{ form_row(row) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {{ form_end(form) }}
{% endblock %} #}
 


        {# <div class="textarea is-active">
            <label for="embed">Iframe de la vidéo</label>
            <textarea id="iframe" class="white" name="trick[tag][0][name]" placeholder='Ex: <iframe width="560" height="315" src="https://www.youtube.com/embed/monyw0mnLZg" title="YouTube tag player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'></textarea>
        </div> #}
        {# <div class="url">
            <label for="url">Iframe de la vidéo</label>
            <input type="url" id="url" class="white" name="trick[tag][0][name]" placeholder="Ex: https://youtube.com/...">
        </div> #}
    {# </div> #}
		
{# <h3>Tags</h3>
    <ul class="tags">
        data-index="{{ form.tags|length > 0 ? form.tags|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}"
    </ul>
<button type="button" class="add_item_link" data-collection-holder-class="tags">Add a tag</button>

{% endblock %} #}
	

	{# </div> #}
	{# {{ form_end(form) }} #}

{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="card grey">
        <span class="card-title">Ajout média</span> #}
        {# <div class="btn-toggle-container">
            <span>Est-ce une image ?</span>
            <div class="btn-toggle">
                <div class="round">
                    <input type="hidden" name="form[trickMedia][0][isImg]" value="0">
                </div>
            </div>
        </div> #}
        {# <div class="textarea is-active">
            <label for="embed">Iframe de la vidéo</label>
            <textarea id="iframe" class="white" name="trick[tag][0][embed]" placeholder='Ex: <iframe width="560" height="315" src="https://www.youtube.com/embed/monyw0mnLZg" title="YouTube tag player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'></textarea>
        </div> #}
        {# <div class="url">
            <label for="url">Iframe de la vidéo</label>
            <input type="url" id="url" class="white" name="trick[tag][0][name]" placeholder="Ex: https://youtube.com/...">
        </div> #}
    {# </div> #}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}

