{% extends "base.html.twig" %}

{% block title %}
    Snowtricks - Nouveau trick
{% endblock %}

{# {% form_theme form _self %} #}
{% block stylesheets %}
  <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          {# <h5 class="card-title text-center mb-5 fw-light fs-5"> #}
          <h2 class="text-center">
            Création d'un trick
          </h2>
          {{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
            {% for message in app.flashes('success') %}
			        <div class="alert alert-success mt-4">
                <div class="flash-notice">
				          {{ message }}
			          </div>
              </div>
	          {% endfor %}
            
            {# <div class="my-custom-class-for-errors"> #}
            <div>
              {# {{ form_errors(form) }} #}

              <div class="form-floating mb-3">
                {{ form_row(form.name)}}
              </div>
              <div class="form-floating mb-3">
                {{ form_row(form.description)}}
              </div>
              <h6>Videos 
                <button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="videos"> + </button>
              </h6>

              <ul class="videos"
                data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">  
              </ul>
              
              <h6>Images 
                <button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="images"> + </button>
              </h6>

              <ul class="images"
                data-index="{{ form.imagesFile|length > 0 ? form.imagesFile|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.imagesFile.vars.prototype)|e('html_attr') }}">
              </ul> 
              
              {# <div class="form-floating mb-3">
			          {{ form_row(form.images) }}
		          </div> #} 
              {{ form_row(form._token) }}             

              <div class="form-floating mb-3">
                {{ form_row(form.category)}}
              </div> 
              {# <hr class="my-4"> #}
              <div class="d-grid mb-2">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" href="" type="submit">
                  Créer mon trick
                </button>
              </div>
            </div>
          {# {{ form_end(form)}} #}
           </form> 
        </div>
      </div>
    </div>
  </div>

  <script>
    const addTagFormDeleteLink = (item) => {
      const removeFormButton = document.createElement('button');
      removeFormButton.innerText = 'Supprimer';

      item.append(removeFormButton);

      removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        // remove the li for the tag form
        item.remove();
      });
    }

    const addFormToCollection = (e) => {
      const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
      const item = document.createElement('li');

      item.innerHTML = collectionHolder
      .dataset
      .prototype
      .replace(
        /__name__/g,
        collectionHolder.dataset.index
      );

      collectionHolder.appendChild(item);

      collectionHolder.dataset.index++;

      // add a delete link to the new form
      addTagFormDeleteLink(item);
    }

    document
    .querySelectorAll('ul.videos li')
    .forEach((video) => {
        addTagFormDeleteLink(video)
    })

    {# document
    .querySelectorAll('ul.images li')
    .forEach((image) => {
        addTagFormDeleteLink(image)
    }) #}

    document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
    });
 
  </script>

{% endblock %}
	