{% extends "base.html.twig" %}
{% block title %}{{ trick.name }}{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('css/show_trick.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}

  <div class="container">
    <div class="card mt-5 mb-5">
      {# <div class="card text-center mx-5 my-5"> #}
      {% if trick.images | length > 0 %}
         
        {# <div class="card-title"> #}
          {# <h5 class="card-text " style="font-size:200%"><center> #}
          <div class="card-header">
            <font style="vertical-align: inherit;">
            <center><h2><b>
            {{ trick.name }}
            </b></h2></center>
            </font>
          
            {% if app.user %}
              <a href="{{ path('trick_edit', {'id': trick.id}) }}"> <img class="float-right" src="/IMAGES/pencil.png"  style="width:2%;"alt="..."></a>
              <a href="{{ path('trick_delete', {'id': trick.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce trick?');"> <img class="float-right" src="/IMAGES/trash.png"  style="width:2%;"alt="..."></a>
            {% endif %}
          </div>
          <div class="card-body" width="100%">
            <img src="{{ asset('IMAGES/' ~ trick.images[0].name)}}" class="card-img" alt="image snowtricks">
          <div class="card-img-overlay">
          </div>
      {% else %}  
        <img src="/IMAGES/no-image.jpg"  alt="...">
      {% endif %}  
    </div>
  </div>


 

  {# <div class="container" id="seeMedia"> #}
    <!-- Page Heading -->
    {# <h1 class="my-4">Page Heading
    <small>Secondary Text</small>
    </h1> #}
    <div class="row" id="seeMedia">
      {% if trick.images | length > 0 %}
        {% for image in trick.images %}
        <div class="col-lg-4">
          {# <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> #}
            {# <div class="card text-bg-dark"> #}
            <div class="card mb-4">
              <img src="{{ asset('IMAGES/') ~image.name}}" class="card-img" style="height:18vw; object-fit: cover" alt="">
            </div>
          </div>
        {% endfor %}
        {% else %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
              <div class="card text-bg-dark">
              <img class="card-img-top" src="/IMAGES/no-image.jpg"  alt="..." >
            <div class="card-img-overlay">
            </div>
          </div>  
      {% endif %} 

      {# les videos #}
      {% if trick.videos | length > 0 %}
        {% for video in trick.videos %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            {# <div class="card h-100" > #}
              {{ video.url | raw}}
            {# </div> #}
          </div>
        {% endfor %}
        {% else %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            {# <div class="card h-100"> #}
              <img class="card-img" src="/IMAGES/no-video.jpg"  style="height:18vw; object-fit: cover" alt="...">
            {# </div> #}
          </div>
      {% endif %} 
  
  

  {# <p class="card-text">{{ trick.description|slice(0, 100) ~ '...' }}</p> #}
  
              
              <div class="p-5">
              <font style="vertical-align: inherit;">{{ trick.description}}  </font></p>
                  
                                      
 </div>    
 {# <p class="lead"><font style="vertical-align: inherit;">Il s'agit d'une simple unité de héros, un simple composant de style jumbotron pour attirer une attention particulière sur le contenu ou les informations présentés. </font></p> #}
  

<div class="btn-group text-center" role="group" aria-label="Infos trick">
  <button type="button" class="btn btn-secondary"><font style="vertical-align: inherit;">Publié le {{ trick.createdAt|date('d/m/Y H:i') }} </font></button>
  <button type="button" class="btn btn-primary"><font style="vertical-align: inherit;">Catégorie : {{ trick.category }}</font></button>
  <button type="button" class="btn btn-secondary"><font style="vertical-align: inherit;">Mis à jour le  </font></button>
</div>
    
<!-- Include trick comments -->
{# {% include 'comment.html.twig' %} #}

  <div class="container justify-content-center mt-5 border-left border-right" style="background-color: #eef2f5;width: 100%;"  id="comments">
    <div class="col-md-3 col-sm-6 mb-4">
            <img src="/IMAGES/icon-comment.png" width="70" alt="..." >
          </div> 
    {% if app.user %}
      <div class="d-flex w-100 justify-content-center pt-3 pb-2"> 
        {{ form_start(commentForm) }}
          <div  class="div_comment"
            >
            {{ form_row(commentForm.content ) }}
          </div> 
          <button class="btn btn-primary" style="margin-right:50px;font-size: 20px;" type="submit">Poster</button>
        {{ form_end(commentForm) }}
        
        
      </div>
      {% else %}
         <div class="d-flex w-100 justify-content-center pt-3 pb-2">
        <div  style="
       width: 900px;
       background-color: #e5e8ed; 
       padding-top: 10px;
	    padding-bottom: 10px;
	    text-align: center;
	    font-size: 20px;
      color: #000;
      font-weight: 900;"
      >
      <h5>Vous devez vous connecter pour publier un commentaire</h5>
          <button href="{{path('app_login')}}" class="btn btn-primary" style="margin-right:50px;font-size: 20px;">Connexion</button>
        </div></div>
    {% endif %}
   
    
    {% if trick.comments | length > 0 %}
      {% for comment in trick.comments  | slice(0,10) %} 
    <div class="d-flex justify-content-center py-2">
     
      <div class="second py-2 px-2" style="width: 100%;
	      background-color: white;
	      border-radius: 4px;
	      box-shadow: 10px 10px 5px #aaaaaa;"> 
        <span class="text1" style="font-size: 20px;
          font-weight: 500;
          color: #56575b;">
          {{ comment.content | raw }}
          {# Type your note, and hit enter to add it #}
        </span>
        <div class="d-flex justify-content-between py-1 pt-2">
          <div>
            <img src="/IMAGES/no-avatar.png" width="50">
            <span class="text2" style="font-size: 20px;
              font-weight: 500;
              margin-left: 6px;
              color: #56575b;">
              {{ comment.user.username }}
              {# Martha #}
            </span>
          </div>
          <div>
            <span class="text3" style="font-size: 20px;
              font-weight: 500;
              margin-right: 4px;
              color: #828386;">
              Posté le {{ comment.createdAt |date('d/m/Y H:i') }}
            </span>
          </div>
        </div>
      </div>
    
    </div>
    {% endfor %}
    {% else %}
        <h4><b>Aucun commentaire. Soyez le premier à commenter ce trick!</b></h4>
    {% endif %} 
  </div>
</div> {# Container global #}
</div>
{% endblock %} 
{% block javascript %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}


